# dependencies
/node_modules

# next.js
/.next/
/out/

# misc
.DS_Store
*.tsbuildinfo
npm-debug.log*

# local screen recordings
Recording *.mp4

# playwright mcp logs
.playwright-mcp/
*video*.mp4
*-demo.mp4
